<!-- jsf:pagecode language="java" location="/src/pagecode/AjaxATHFilterView.java" --><!-- /jsf:pagecode -->
<div  xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:portlet="http://java.sun.com/portlet_2_0"  >  
  

 

<p>Suplantar Usuario</p>

<h:form>

	<h:outputLabel value="Ingrese el nombre del usuario a suplantar"></h:outputLabel>
	<h:inputText value="#{suplantacionBean.userToImpersonate}"></h:inputText>
	
	<h:commandButton actionListener="#{suplantacionBean.suplantar}"></h:commandButton>
	
</h:form>

</div>
