<!-- jsf:pagecode language="java" location="/src/pagecode/AjaxATHFilterView.java" --><!-- /jsf:pagecode -->
<div  xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:portlet="http://java.sun.com/portlet_2_0"  >  
  

 

<p>Prefrencias configuradas (Config Mode)</p>

<h:form>
	
	<h:messages globalOnly="true" showDetail="true" showSummary="true"></h:messages>
	
	<h:outputLabel value="Url to Redirect"></h:outputLabel>
	
	<h:inputText value="#{prefBean.newValue}"></h:inputText>

	<h:commandButton actionListener="#{prefBean.edit}"></h:commandButton>
</h:form>

</div>
