<!-- jsf:pagecode language="java" location="/src/pagecode/AjaxATHFilterView.java" --><!-- /jsf:pagecode -->
<div  xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:portlet="http://java.sun.com/portlet_2_0"  >  
  

 

<p>Prefrencias configuradas (View Mode)</p>

<h:dataTable value="#{prefBean.prefs}" var="pref">
	<h:column>
		<f:facet name="header">
			<h:outputLabel value="Nombre"></h:outputLabel>
		</f:facet>
		<h:outputLabel value=""></h:outputLabel>
	</h:column>
	<h:column>
		<f:facet name="header">
			<h:outputLabel value="Nombre"></h:outputLabel>
		</f:facet>
		<h:outputLabel value="#{pref}"></h:outputLabel>
	</h:column>
</h:dataTable>

</div>
