<!-- jsf:pagecode language="java" location="/src/pagecode/AjaxATHFilterView.java" --><!-- /jsf:pagecode -->
<div xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:portlet="http://java.sun.com/portlet_2_0">




	<p>Renderizado de 2 Fases (Agregar Cookies)</p>


	<h:form>
		<h:outputText value="Ingrese los valores para crear la Cookie"></h:outputText>
		
		<h:messages globalOnly="true" showDetail="false"></h:messages>

		<div>
			<h:outputLabel for="txtCookieName"></h:outputLabel>
			<h:inputText id="txtCookieName" value="#{twoPhaseBean.cookieName}" required="true"
				requiredMessage="El nombre es obligatorio"></h:inputText>
			<h:message for="txtCookieName"></h:message>
		</div>
		
		<h:commandButton actionListener="#{twoPhaseBean.create}"></h:commandButton>

	</h:form>



</div>
