<!-- jsf:pagecode language="java" location="/src/pagecode/AjaxATHFilterView.java" --><!-- /jsf:pagecode -->
<div  xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:portlet="http://java.sun.com/portlet_2_0"  >  
  

 

<p>Example Credential vault portlet</p>

</div>
